/* ====================================
    Utility Styles
================================*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/* ====================================
    Header Area Styles
================================*/

.header_area {
    padding: 30px 0 20px;
}

.header_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_logo a {
    display: inline-block;
    text-decoration: none;
    color: #3A3A3A;
    font-size: 24px;
    font-weight: 700;
}

.header_logo a span {
    color: #E02C6D;
}

.header_navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 465px;
}

.header_menu ul {
    list-style: none;
}

.header_menu ul li {
    display: inline-block;
    margin-left: -5px;
}

.header_menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 0 18px;
    transition: .3s;
}

.header_menu ul li a:hover {
    color: #E02C6D;
}

.header_icon a {
    display: inline-block;
    font-size: 22px;
    color: #3A3A3A;
    margin-left: 12.5px;
    margin-right: 12.5px;
}

/* ====================================
    Hero Area Styles
================================*/

.hero_area {
    padding: 80px 0;
}

.hero_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero_text {
    width: 52%;
}

.hero_text h2 {
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
}

.hero_text h2 span {
    color: #E02C6D;
}

.hero_text p {
    color: #3A3A3A;
    width: 500px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
}

.hero_text a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    background: #E02C6D;
    color: #fff;
    padding: 10px 30px;
    border-radius: 50px;
    margin-top: 20px;
    transition: .5s;
}

.hero_text a span {
    margin-left: 3px;
}

.hero_text a:hover {
    transform: scale(1.1);
}

.hero_feature {
    width: 48%;
    text-align: center;
}

@keyframes lavigation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0)
    }
}

.hero_feature img {
    width: 440px;
    height: 414px;
    animation: lavigation 3s linear infinite;
}

/* ====================================
    Client Area Styles
================================*/

.client_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 40px 0 20px;
}

.client_content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: rgba(170,170,170,.3);
}

.client_content::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: rgba(170,170,170,.3);
}

/* ====================================
    Collection Area Styles
================================*/

.collection_area {
    padding: 100px 0;
}

.collection_title {
    text-align: center;
    margin-bottom: 30px;
}

.collection_title h2 {
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
}

.collection_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    justify-content: center;
}

.collections {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px 0px #00000026;
    width: 350px;
}

.collections .collection_feature img {
    width: 330px;
    height: 256px;
}

.collection_feature h3 {
    font-size: 26px;
    font-weight: 500;
    color: #18191F;
    margin-top: 10px;
}

.collection_description h4 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
    font-weight: 400;
    margin-top: 5px;
}

.collection_rating {
    display: flex;
    margin-top: 5px;
}

.stars {
    margin-right: 10px;
}

.stars span {
    color: #FB8200;
    font-size: 12px;
}

.rating span {
    font-size: 15px;
    color: #5E6366;
    font-weight: 600;
}

.collection_description p {
    color: #787885;
    font-size: 14px;
    font-weight: 600;
    width: 300px;
}

.collection_button {
    text-align: right;
    margin-top: 50px;
}

.collection_button a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #E02C6DDE;
}

.collection_button a span {
    margin-left: 3px;
    display: inline-block;
    transition: .5s
}

.collection_button a:hover span {
    transform: translateX(5px);
}

/* ====================================
    Feature Area Styles
================================*/

.feature_area {
    padding: 40px 0 80px;
}

.feature_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.feature_area_image {
    width: 405px;
}

.feature_area_image img {
    width: 405px;
    height: 270px;
}

.feature_area_text {
    width: 650px;
}

.feature_area_text h2 {
    color: #0A0826;
    font-size: 38px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 10px;
}

.feature_area_text p {
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    width: 500px;
}

.feature_area_text a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: #E02C6D;
    padding: 10px 20px;
    margin-top: 20px;
    transition: .5s;
}

.feature_area_text a span {
    padding-left: 7px;
}

.feature_area_text a:hover {
    transform: scale(1.1);
}

/* ====================================
    Contact Area Styles
================================*/

.contact_area {
    padding: 80px 0;
}

.contact_title {
    text-align: center;
}

.contact_title h2 {
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
    margin-bottom: 30px;
}

.contact_form {
    box-shadow: 0px 0px 40px 0px #00000026;
    padding: 100px 300px;
    border-radius: 10px;
    text-align: left;
}

.input_name {
    display: flex;
    justify-content: space-between;
}

.input_name input {
    width: 47%;
    display: inline-block;
}

.input_mail input {
    width: 99%;
}

.input_msg textarea {
    width: 99%;
}

.contact_form input, textarea {
    border: none;
    outline: none;
    border-bottom: 1px solid #3A3A3A;
    padding: 10px 2px;
    margin-bottom: 20px;
}

.contact_form textarea {
    padding-top: 30px;
    height: 100px;
    resize: none;
}

.input_submit button {
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    background: #E02C6D;
    padding: 10px 20px;
    margin-top: 20px;
    transition: .5s;
    cursor: pointer;
}

.input_submit button:hover {
    transform: scale(1.1);
}

/* ====================================
    Footer Area Styles
================================*/

.footer_area {
    padding: 50px 0;
    background: #0A0826;
}

.footer_content {
    text-align: center;
}

.footer_content h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.footer_content h2 span {
    color: #E02C6D;
}

.footer_content p {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #fff;
}

.footer_social {
    margin-top: 10px;
}

.footer_social ul {
    list-style: none;
}

.footer_social ul li {
    display: inline-block;
    margin-left: -5px;
}

.footer_social ul li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    background: rgba(255, 255, 255, .1);
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin-right: 15px;
    transition: .5s;
}

.footer_social ul li a:hover {
    background: #E02C6D;
}