/* ====================================
    Utility Styles
================================*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/* ====================================
    Header Area Styles
================================*/

.header_area {
    padding: 30px 0 20px;
}

.header_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_logo a {
    display: inline-block;
    text-decoration: none;
    color: #3A3A3A;
    font-size: 24px;
    font-weight: 700;
}

.header_logo a span {
    color: #E02C6D;
}

.header_navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 465px;
}

.header_menu ul {
    list-style: none;
}

.header_menu ul li {
    display: inline-block;
    margin-left: -5px;
}

.header_menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 0 18px;
    transition: .3s;
}

.header_menu ul li a:hover {
    color: #E02C6D;
}

.header_icon a {
    display: inline-block;
    font-size: 22px;
    color: #3A3A3A;
    margin-left: 12.5px;
    margin-right: 12.5px;
}

/* ====================================
    Hero Area Styles
================================*/

.hero_area {
    padding: 80px 0;
}

.hero_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero_text {
    width: 52%;
}

.hero_text h2 {
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
}

.hero_text h2 span {
    color: #E02C6D;
}

.hero_text p {
    color: #3A3A3A;
    width: 500px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
}

.hero_text a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    background: #E02C6D;
    color: #fff;
    padding: 10px 30px;
    border-radius: 50px;
    margin-top: 20px;
    transition: .5s;
}

.hero_text a span {
    margin-left: 3px;
}

.hero_text a:hover {
    transform: scale(1.1);
}

.hero_feature {
    width: 48%;
    text-align: center;
}

.hero_feature img {
    width: 440px;
    height: 414px;
}